body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    background-image: url("PREST.png");
}

div{
    background-color: #8b61c2;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 6em;
    text-align: center;
    margin-top: 0;
}

button {
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
}

input::placeholder {
    color: black;
}

.ingreso {
    background-color: #ffcc00;
    color: black;
    margin-right: 50px;
    transition: all 0.3s ease-in-out;
}
.inrgeso:hover {
    transform: scale(1.1);
}
.crear {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease-in-out
}
.crear:hover{
    background-color: white;
    color: #8b61c2;    
}