<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="../static/registro/style.css">n
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">
    <title>Vite + Lit</title>
  </head>
  <body>
    <my-element></my-element>
    <script type="module" src="../static/registro/script.js"></script>
  </body>
</html>
