*{
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: black;
    color: white;

}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.container {
    display: flex;
    width: 100%;
    height: 92vh;
}
.left {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height:100%;
    overflow: scroll;
}
.right{
    background-color: aliceblue;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left button {
    font-size: 17px;
    padding: 40px 10px;
    margin: 15px 10px;
    font-weight: 500;
    color: black;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
    width: 70%;
}
.right button{
    font-size: 17px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
    width: 50%;
    padding: 10px;
}
.label {
position: relative;
top: -1px;
font-size: 100%;
}
.transition {
transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
transition-duration: 500ms;
background-color: rgb(0, 0, 0);
border-radius: 9999px;
width: 0;
height: 0;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
button:hover{
    color: white;
    border: solid white;
}
button:hover .transition {
width: 16em;
height: 14em;
}
button:active {
transform: scale(0.97);
}

.form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    height: 80%;
}
.form div {
    display: flex;
    flex-direction: column;
}
.form input{
    font-size: 100%;
    padding: 1%;
    width: 80%;
    margin: 2%;
    border-radius: 20px;
}
.form button{
    color: white;
    background-color: black;
    margin: 2%;
}
.form h2 {
    font-size: 300%;
}
.form #clear-button {
    background-color: white;
    color: black;
    border:solid black;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}